.MuiList-root a:hover {
    background-color: #f5f5f5;
}

.MuiList-root li:hover {
    background-color: #f5f5f5;
}

/*.MuiList-root a:hover .MuiListItemIcon-root .MuiSvgIcon-root,*/
/*.MuiList-root a:hover .MuiListItemText-root .MuiTypography-root,*/
/*.MuiList-root li:hover .MuiListItemIcon-root .MuiSvgIcon-root,*/
/*.MuiList-root li:hover .MuiListItemText-root .MuiTypography-root {*/
/*    color: ghostwhite;*/
/*}*/