.slide-container {
    width: 100%;
    margin: auto;
}

.caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Add some overlay if needed */
}
