/*.App {*/
/*    !*text-align: center;*!*/
/*}*/

/*.App-logo {*/
/*    height: 40vmin;*/
/*    pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*    .App-logo {*/
/*        animation: App-logo-spin infinite 20s linear;*/
/*    }*/
/*}*/

/*.App-header {*/
/*    background-color: #282c34;*/
/*    min-height: 100vh;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    font-size: calc(10px + 2vmin);*/
/*    color: white;*/
/*}*/

/*.App-link {*/
/*    color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*    from {*/
/*        transform: rotate(0deg);*/
/*    }*/
/*    to {*/
/*        transform: rotate(360deg);*/
/*    }*/
/*}*/


/*body{*/
/*   background-color: rgba(255, 255, 255, 0.12);*/
/*   text-align: center;*/

/*}*/

/*.question-card{*/
/*   margin: auto;*/
/*   background-color: aquamarine;*/
/*   text-align: center;*/

/*}*/

/*#answer:hover{*/
/*   background-color: #5792ff6b;*/
/*   color: #fff;*/
/*   font-weight: 700;*/
/*   cursor: pointer;*/
/*}*/

/*ul:hover li:hover{*/
/*   color: #fff;*/
/*   font-weight: 700;*/
/*   cursor: pointer;*/
/*   text-shadow: #000000;*/
/*}*/

/*.registration-form{*/
/*	padding: 50px 0;*/
/*}*/

/*.registration-form form{*/
/*   background-color: #fff;*/
/*   max-width: 600px;*/
/*   margin: auto;*/
/*   padding: 50px 70px;*/
/*   border-top-left-radius: 30px;*/
/*   border-top-right-radius: 30px;*/
/*   box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);*/
/*}*/

/*.registration-form .form-icon{*/
/*	text-align: center;*/
/*   background-color: #5891ff;*/
/*   border-radius: 50%;*/
/*   font-size: 40px;*/
/*   color: white;*/
/*   width: 100px;*/
/*   height: 100px;*/
/*   margin: auto;*/
/*   margin-bottom: 50px;*/
/*   line-height: 100px;*/
/*}*/

/*.registration-form .item{*/
/*	border-radius: 20px;*/
/*   margin-bottom: 25px;*/
/*   padding: 10px 20px;*/
/*}*/

/*.registration-form .create-account{*/
/*   border-radius: 30px;*/
/*   padding: 10px 20px;*/
/*   font-size: 18px;*/
/*   font-weight: bold;*/
/*   background-color: #5791ff;*/
/*   border: none;*/
/*   color: white;*/
/*   margin-top: 20px;*/
/*}*/

/*.registration-form .social-media{*/
/*   max-width: 600px;*/
/*   background-color: #fff;*/
/*   margin: auto;*/
/*   padding: 35px 0;*/
/*   text-align: center;*/
/*   border-bottom-left-radius: 30px;*/
/*   border-bottom-right-radius: 30px;*/
/*   color: #9fadca;*/
/*   border-top: 1px solid #dee9ff;*/
/*   box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);*/
/*}*/

/*.registration-form .social-icons{*/
/*   margin-top: 30px;*/
/*   margin-bottom: 16px;*/
/*}*/

/*.registration-form .social-icons a{*/
/*   font-size: 23px;*/
/*   margin: 0 3px;*/
/*   color: #5691ff;*/
/*   border: 1px solid;*/
/*   border-radius: 50%;*/
/*   width: 45px;*/
/*   display: inline-block;*/
/*   height: 45px;*/
/*   text-align: center;*/
/*   background-color: #fff;*/
/*   line-height: 45px;*/
/*}*/

/*.registration-form .social-icons a:hover{*/
/*   text-decoration: none;*/
/*   opacity: 0.6;*/
/*}*/

/*@media (max-width: 576px) {*/
/*   .registration-form form{*/
/*       padding: 50px 20px;*/
/*   }*/

/*   .registration-form .form-icon{*/
/*       width: 70px;*/
/*       height: 70px;*/
/*       font-size: 30px;*/
/*       line-height: 70px;*/
/*   }*/
/*}*/

/*.table-container {*/
/*   width: 95%;*/
/*   margin: auto;*/
/*   margin-top: 20px;*/
/*   border-radius: 20px;*/
/*    background-color: rgb(255, 255, 255);*/
/*}*/



.App {
    /*text-align: center;*/
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
